h1,
h2,
body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  text-align: center;
  height: 44px;
}

.right,
.left {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 80px;
  background-color: green;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  flex: 1;
  background-color: orange;
}
